@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0C3B1E;
    height: 100vh;
}

header {
    display: inline;
}

header #header {
    background-color: #14532D;
    width: 100vw;
    padding: 5px;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.226);
    display: inline-block;
    position: fixed;
    top: 0px;
    text-align: center;
}

header div h1 {
    padding-left: 30px;
    color: white;
    display: inline-block;

}

nav .conteiner {
    width: 250px;
    height: 100%;
    background-color: white;
    transition: .3s;
    position: fixed;
}

nav .btn {
    display: flex;
    justify-content: flex-end;
}

nav #menu {
    display: none;
}

nav .btn span {
    padding: 0 12px;
}

nav .menu {
    height: 60px;
    border-bottom: .5px solid #000;
    color: #14532D;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .menu:hover {
    background-color: rgb(180, 180, 180);
    transition: .5s;
}

nav .material-symbols-outlined:hover {
    padding-left: 3px;
}

nav .txt {
    flex: 5;
    padding-left: 20px;
    color: #14532D;
    transition: .3s;
}

nav .icon {
    flex: 1;
    min-width: 60px;
    max-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .oculto {
    width: 60px;
}

nav .oculto .txt {
    display: none;
}

nav .oculto .btn span {
    transform: rotate(180deg);
}

nav a {
    text-decoration: none;
}

header .material-symbols-outlined {
    cursor: pointer;
    color: #14532D;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    transition: .3s;
}

header .material-symbols-outlined:hover {
    color: #14532D;
    background-color: rgb(184, 183, 183);
}

main {
    /*Conteúdo principal*/
    margin-top: 50px;
    margin-left: 63px;
    width: calc(100vw - 90px);
    padding: 15px;
    transition: .3s;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}



main span.material-symbols-outlined {
    transform: translateY(7px);

    border-radius: 5px;
}

.abas form h2 {
    color: rgb(0, 99, 0);
}

/*Padronização das caixas de input*/

input,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}

select {
    width: 86%;
}


#submit-principal {
    /*Botão Confirmar*/
    background-color: #0a2b17;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

#submit-principal:hover {
    background-color: #208046;
    box-shadow: 0px 0px 10px #31cc6f;
}

/*Disposição das abas*/
#dashboard {
    display: block;
}

#dashboard table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(196, 194, 194);
    margin-top: 20px;
}

#dashboard th,
td {
    padding: 12px 15px;
    border: 1px solid #1c6a45;
    text-align: left;
}

#dashboard th {
    background-color: #147a50;
    color: #fff;
}

#dashboard tr:nth-child(even) {
    background-color: white;
}

#dashboard tr:hover {
    background-color: #427761;
}

#entrada {
    display: none;
}

#saida {
    display: none;
}

#devolucao {
    display: none;
}

#history {
    display: none;
}